
= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "チャットメンバーを追加", class: "chat-group-form__label", for: "user-search-field"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input{placeholder: "追加したいユーザー名を入力してください", type: "text", autocomplete: "off"}
        %ul#user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'チャットメンバー', class: 'chat-group-form__label'
    .chat-group-form__field--right
      %ul#chat-group-members
        %li.chat-group-member.clearfix
          %p.chat-group-member__name
            = current_user.name
        - if @member.nil?
          / = render partial: 'user', collection: @members
      %input{type: "hidden", name: "group[user_ids][]", value: current_user.id}


  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn'

= javascript_tag do
  users = #{raw @users.to_json};
